@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
.lightGradient {
  background: linear-gradient(to right, #59C1C8, #3069E1, #7946E4);
}

.darkGradient {
  background: linear-gradient(to right, #357379, #1F3E88, #492B89);
}

.diagonalGradient {
  background: linear-gradient(to bottom right, #59C1C8 0%, #3069E1 38%, #7946E4 76%);
}

.shortGradient {
  background: linear-gradient(to right, #58BECA, #489DD3);
}

.blackNav {
  display: flex;
  background: #0D0D0D;
  box-sizing: border-box;
}
.blackNav img {
  opacity: 0.5;
  height: 17px;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
}

button {
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  outline: none;
}
input:focus {
  border: 1px solid #42a5f5;
  box-shadow: 0 0 0 2px #42a5f5;
}

main {
  outline: none;
  height: 100vh;
  padding-top: 40px;
  box-sizing: border-box;
  transition: padding 0.4s cubic-bezier(0.64, 0.01, 0.09, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
main.topbarGone {
  padding-top: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  align-items: center;
  transform: translateY(0);
  transition: transform 0.4s cubic-bezier(0.64, 0.01, 0.09, 1);
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
nav.gone {
  transform: translateY(-40px);
}
nav > div {
  align-items: center;
  display: flex;
  cursor: pointer;
}
nav > div.User {
  gap: 10px;
  font-size: 0.9em;
}
nav > div.User span:hover {
  color: #1976d2;
}

.BasicFrame {
  transition: 0s ease 0.3s;
}

.TypeableField {
  transition: 0s ease 0.3s;
  background: #fff;
  border-radius: 20px;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
}
.TypeableField .btnCtn {
  display: flex;
}
.TypeableField .Field {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.TypeableField .Field .btnCtn {
  justify-content: flex-end;
}
.TypeableField .FieldCtn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.TypeableField .FieldCtn .labelCtn {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.TypeableField span {
  font-size: 15px;
  line-height: 35px;
}

.input {
  border: 1px solid #D5D5D5;
  border-radius: 18px;
  min-height: 73px;
  box-sizing: border-box;
  padding: 10px;
}

.btn {
  padding: 6px 46px;
  border-radius: 40px;
  line-height: 35px;
  font-size: 15px;
  border: 1px solid #000;
}
.btn.primary {
  background: #000;
  color: #fff;
}
.btn.ghost {
  background: none;
  color: #000;
}

.greetingMsg > div {
  display: flex;
  gap: 5px;
}
.greetingMsg span {
  font-weight: 300;
  font-size: 2.5em;
}

.Greeting {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.ResponsiveFrameCtn,
.ResponsiveFrame,
.Mobile,
.Tablet,
.Desktop {
  height: 100%;
}

.Mobile,
.Tablet,
.Desktop {
  background: #F9F9F9;
  border-radius: 10px;
  overflow: hidden;
}

.tile {
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
}

.Mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Mobile .canvalogo {
  width: 135px;
}
.Mobile .MobileHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 10px;
}
.Mobile .MobileHead .icnCtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.Mobile .MobileHead img {
  height: 13px;
}
.Mobile .mainContent {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.Mobile .mainContent .logoCtn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 162px;
  width: 100%;
}
.Mobile .tileCtn {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
  box-sizing: border-box;
}
.Mobile .tileCtn .tile {
  width: 100%;
}
.Mobile .tileCtn .tile:nth-of-type(1) {
  flex: 1;
}
.Mobile .tileCtn .tile:nth-of-type(2) {
  border-radius: 14px 14px 0 0;
  height: 83px;
}
.Mobile .tileCtn.second .tile:nth-of-type(1) {
  height: 83px;
  flex: none;
}
.Mobile .tileCtn.second .tile:nth-of-type(2) {
  flex: 1;
}
.Mobile .footer {
  padding: 14px 30px;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}

.Desktop,
.Tablet {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gradientHeader {
  display: flex;
  flex-direction: column;
  height: 81px;
}
.gradientHeader > div {
  flex: 1;
}

.tabs {
  display: flex;
  gap: 2px;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 10px 0 10px;
  align-items: center;
}
.tabs > span {
  opacity: 0.5;
  color: #fff;
  font-size: 1.25em;
}
.tabs .tab {
  gap: 10px;
  display: flex;
  align-items: center;
  padding-right: 10px;
  border-radius: 7px 7px 0 0;
  height: 100%;
}
.tabs .tab.low {
  opacity: 0.5;
}
.tabs .tab span {
  color: #fff;
  font-size: 1.25em;
  padding: 0 0 0 20px;
}

.header2 {
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
  justify-content: space-between;
}
.header2 .iconCtn {
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 10px;
}
.header2 img {
  height: 13px;
}

.tabletMain {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.BlackNav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 21px 10px;
}
.BlackNav .iconCtn {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 0 10px;
  gap: 15px;
}
.BlackNav .iconCtn img {
  width: 17px;
}

.TabletContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.TabletContent .logoCtn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 276px;
}
.TabletContent .tileCtn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 0 10px;
  box-sizing: border-box;
}
.TabletContent .tileCtn .cropped {
  flex: 1;
  border-radius: 14px 14px 0 0;
}
.TabletContent .tileCtn .tiles {
  height: 251px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.TabletContent .tileCtn .tiles .tile {
  flex: 1;
}

.DesktopContent {
  flex: 1;
  display: flex;
}

.viewport {
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  flex: 1;
}
.viewport .logoCtn {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.AssetBank {
  width: 327px;
  padding: 10px;
  background: #282828;
}

.TemplateSearch {
  padding: 20px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  align-items: center;
}

.TemplateHeader {
  padding: 90px 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}
.TemplateHeader > span {
  line-height: 47px;
  font-size: 3.3em;
  font-weight: 300;
  color: #fff;
}

.searchCtn {
  display: flex;
  max-width: 370px;
  border-radius: 50px;
  background: #fff;
  border: 1px solid #fff;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
  width: 100%;
  gap: 10px;
}
.searchCtn:focus-within {
  border: 1px solid #42a5f5;
  box-shadow: 0 0 0 2px #42a5f5;
}
.searchCtn .searchInput {
  height: 33px;
  display: flex;
  align-items: center;
  background: none;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0);
  box-sizing: border-box;
  flex: 1;
}
.searchCtn .searchInput:focus {
  box-shadow: none;
}

.TemplateList {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
}
.TemplateList.centered {
  max-width: 895px;
}
.TemplateList > div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.TemplateList > div > span {
  font-size: 1.4em;
  padding-left: 9px;
}/*# sourceMappingURL=index.css.map */